{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
            {% include('client/boutique/_panier.html') %}
        </div>
        <div class="row">
             <br>
            <a href="/client/coordonnee/show" class="btn btn-secondary mt-5 col-2"> ajouter une adresse</a>
            <form action="/client/commande/add"  style="display: inline-block;"  method="post" >
            {% if adresses | length > 0 %}
                <br>
                    <h4>Choisisser l'adresse de livraison</h4>
                    <select  name="id_adresse_livraison" name="adresse_livraison" required  class="form-select">
                        <option value="">Sélectionner l'adresse de facturation</option>
                        {% for adresse  in adresses %}
                             <option value="{{ adresse.id_adresse }}">{{ adresse.nom }} ({{ adresse.code_postal }})
                                 {{ adresse.ville }} - {{ adresse.rue }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <h4>Choisisser l'adresse de facturation</h4>
                    adresse de facturation identique <input type="checkbox" name="adresse_identique" value="adresse_identique" id="adresse_identique" onclick="identique()">
                <br>
                    <select  id="id_adresse_facturation" name="id_adresse_facturation" required class="form-select">
                        <option value="">Sélectionner l'adresse de livraison</option>
                        {% for adresse  in adresses %}
                             <option value="{{ adresse.id_adresse }}">{{ adresse.nom }} ({{ adresse.code_postal }})
                                 {{ adresse.ville }} - {{ adresse.rue }}</option>
                        {% endfor %}
                    </select>
                {%  else %}
                    Il faut une adresse de livraison et de facturation pour valider la commande
                    <a href="/client/coordonnee/show"  class="btn btn-primary">Ajouter une adresse</a>
                {% endif %}
                <button class="btn btn-primary mt-4" > Passer ma commande </button>
            </form>
        </div>
    </div>

    <script>
    function identique(){
	if(document.getElementById('adresse_identique').checked == true)
        {
        document.getElementById("id_adresse_facturation").style.display = 'none';
        document.getElementById("id_adresse_facturation").required = false;
        }
        else
        {
        document.getElementById("id_adresse_facturation").style.display = 'block';
        document.getElementById("id_adresse_facturation").required = true;
        }
    };
    </script>
{% endblock %}