{% extends "client/layout_client.html" %}
{% block body %}

<div class="m-auto p-3 border col-lg-6">
    <form action="/client/coordonnee/add_adresse" method="post">
        <table class="table w-auto" >
            <tr>
                <td>Utilisateur connecté :</td>
                <td class="text-success bg-"> nom : {{ utilisateur.nom }} , login : {{ utilisateur.login }}</td>
            </tr>
            <tr> <td><label for="nom">Nom prénom  : <br>(pour la livraison/facturation)</label>
                </td>
                <td><input type="text" name="nom" required  maxlength="50" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="rue">numéro de rue et nom :</label></td>
                <td><input type="text" name="rue" required class="form-control"></td>
            </tr>
            <tr>
                <td>Code postal :</td>
                <td><input type="number" name="code_postal" required  minlength="5" maxlength="5" class="form-control"></td>
            </tr>
            <tr>
                <td>Ville :</td>
                <td><input type="text" name="ville" required  maxlength="50" class="form-control"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Valider</button>
    </form>

</div>
{% endblock %}