{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>ajouter un casque</title>
{% endblock %}

{% block body %}
    <h2>ajouter une déclinaison d'un article</h2>
    <div class="row mt-5">
    {% if article.image is defined and article.image is not none %}
        <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;" id="output" src="{{ url_for('static', filename = 'images/')}}{{ article.image }}" alt="">
    {% endif %}
        <div class="w-25">
            <form class="w-190" method="post" action="/admin/declinaison_article/add">
                <input id="id_article" type="hidden" name="id_article" value="{{ article.id_article }}">
                <label for="stock">stock :
                    <input name="stock" id="stock" type="number" class="form-control" required>
                </label>
                <label for="couleur">Couleur :
                    <select name="couleur" required class="form-select">
                        <option value="">Sélectionner une couleur</option>
                        {% for couleur in couleurs %}
                             <option value="{{ couleur.id_couleur }}"> {{ couleur.libelle }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="taille">Taille :
                    <select id="taille" name="taille" required class="form-select">
                        <option value="">Sélectionner une taille</option>
                        {% for taille in tailles %}
                            <option value="{{ taille.id_taille }}"> {{ taille.libelle }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="submit">
                    <input name="submit" type="submit" value="Ajouter" class="btn btn-primary mt-2">
                </label>


            </form>
         <a href="/admin/article/edit?id_article={{ article.id_article }}"><button class="btn btn-secondary mt-2">annuler</button></a>
        </div>
    </div>
{% endblock %}
