{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un exemplaire</title>
{% endblock %}

{% block body %}
    <h2>modifier la déclinaison d'un article </h2>
        <div class="row mt-5">
            article : <strong>{{ declinaison_article.nom }}</strong><br>
            {% if declinaison_article.image_article is defined and declinaison_article.image_article is not none %}
            <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;"  src="{{ url_for('static', filename = 'images/')}}{{ declinaison_article.image_article}}"  alt="image  de {{ declinaison_article["libelle"] }}" >
            {% else %}
            <i class="card-img-top rounded mx-4 d-block">pas de photo</i>{#{{ declinaison_article|pprint }}#}
            {% endif %}

            <div class="w-25">
                <form class="w-190" method="post" action="/admin/declinaison_article/edit" enctype="multipart/form-data">
                    <input type="hidden" value="{{ declinaison_article.id_declinaison_article }}" name="id_declinaison_article">
                    <input type="hidden" value="{{ declinaison_article.article_id }}" name="id_article">
                    
                    <label for="stock">Stock :
                        <input name="stock" type="number" min="0" step="1" value="{{ declinaison_article.stock }}" class="form-control" >
                    </label>
                    <br><label for="id_taille">taille :
                        <input type="hidden" value="{{ declinaison_article.taille_id }}" name="id_taille">
                            {% for taille in tailles %}
                                {% if taille.id_taille == declinaison_article.taille_id %} {{ taille.libelle }} {% endif %}
                            {% endfor %}
                    </label>
                    <label for="id_couleur"> couleur :
                        <input type="hidden" value="{{ declinaison_article.couleur_id }}" name="id_couleur">
                            {% for couleur in couleurs %}
                                 {% if couleur.id_couleur == declinaison_article.couleur_id %} {{ couleur.libelle }} {% endif %}
                            {% endfor %}
                    </label>
                    <br>
                <label for="submit">
                    <input name="submit" type="submit" value="Modifier" class="btn btn-primary mt-2">
                </label>
                </form>
                <a href="/admin/article/edit?id_article={{ declinaison_article.article_id }}"><button class="btn btn-secondary  mt-4">annuler</button></a>
            </div>
        </div>
{% endblock %}
