{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>commentaire d'un article</title>
{% endblock %}

{% block body %}

   <div class="row">
   <div class="col-5 bg-light p-3">
        <h3>Les commentaires (dates croissantes)</h3>
       <h3>article  <span style="color: green">{{ article.nom }}</span></h3>
   </div>
   </div>

   <div class="row">

        <table class="table" style="border: solid #8959A8 1px ">
        {% if commentaires %}
            <thead class="thead-dark">
            <tr>
                <th>nom(pseudo)</th>
                <th>Commentaires</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

                {% for commentaire in commentaires %}
                    {% if commentaire.valider == 1 and session['id_user']==commentaire.utilisateur_id %}
                    <tr class="bg-success bg-opacity-25">
                    {% elif commentaire.valider == 1 %}
                    <tr class="bg-warning bg-opacity-25">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ commentaire.nom }}({{ commentaire.id_utilisateur }})</td>
                        <td> {% if commentaire.utilisateur_id == session['id_user'] %}
                            <span style="color: red">(réponse de l'administrateur du site (webmaster) :</span>
                            {% endif %}
                            {{ commentaire.commentaire }}
                        </td>
                        <td>
                                  <form  action="/admin/article/commentaires/delete"  style="display: inline-block;"  method="post" >
                                      <input type="hidden" name="id_article" value="{{ commentaire.id_article }}">
                                      <input type="hidden" name="id_utilisateur" value="{{ commentaire.id_utilisateur }}">
                                      <input type="hidden" name="date_publication" value="{{ commentaire.date_publication }}">
                                      <button class="btn btn-primary" > supprimer </button>
                                  </form>
                            {% if commentaire.utilisateur_id != session['id_user'] %}
                                  <form  action="/admin/article/commentaires/repondre"  style="display: inline-block;"  method="GET" >
                                      <input type="hidden" name="id_article" value="{{ commentaire.id_article }}">
                                      <input type="hidden" name="id_utilisateur" value="{{ commentaire.id_utilisateur }}">
                                      <input type="hidden" name="date_publication" value="{{ commentaire.date_publication }}">
                                      <button class="btn btn-primary" > répondre </button>
                                  </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="table-warning"><td>Pas de commentaire</td><td></td></tr>
            {% endif %}
            </tbody>
        </table>
       <a class="btn btn-primary m-4 col-2" href="/admin/article/commentaires/valider?id_article={{ article.id_article }}">valider les commenaires</a>
       <a class="btn btn-outline-primary btn-lg" href="/admin/article/show">Retour vers la page d'accueil</a>
    </div>

{% endblock %}