<!-- templates/signup.html -->
{% extends 'auth/layout.html' %}

{% block body %}
<form method="post" action="/forget-password">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            <div class="alert alert-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    <label for="_email">Email</label>
    <input type="text" name="email" class="form-control" value="" required  placeholder="Email"  >

    <button class="btn btn-lg btn-primary mt-4" type="submit">
        Valider (email)
    </button>
</form>
{% endblock %}

